@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import "tailwindcss";

@theme {
  --font-main: "Cutive Mono", monospace;
  --color-dark: #282828;
  --height-clamp: clamp(300px, 100vh, 100vh);
  --width-clamp: clamp(200px, 100vw, 1000px);
}

@layer base {  
  html {
    @apply bg-dark font-main text-white flex justify-center;
  }
  body {
    /* @apply flex grow max-w-[1000px] w-screen h-screen min-h-dvh relative justify-center bg-contain bg-no-repeat bg-left-top; */
    @apply flex w-[var(--width-clamp)] h-[var(--height-clamp)] overflow-x-hidden relative;
  }
}

@layer components {

  /* navbar */
  nav {
    @apply fixed w-full max-w-[1000px] flex justify-between z-99 top-3 right-3;
  }

  .social-links {
    @apply flex gap-3 items-center;
  }
  .social-links img {
    @apply h-7
  }
  nav ul {
    @apply hidden sm:flex sm:divide-x-2;
  }
  nav li {
    @apply text-white text-2xl sm:px-5 uppercase;
  }

  /* mobile menu */
  .mobile-menu {
    @apply relative block sm:hidden
  }
  .mobile-menu .items {
    @apply absolute top-0 right-0 bg-black min-h-64 w-[180px] rounded-md p-9 flex flex-col origin-top-right;
  }
  .mobile-menu .items ul {
    @apply flex flex-col gap-2 flex-1 pt-4;
  }
  /* hamburger button */
  .hamburger-btn {
    @apply relative h-11 w-11 mt-3 mr-3
  }
  .hamburger-btn .top,
  .hamburger-btn .middle {
    @apply absolute h-1 w-7 bg-white
  }
  .hamburger-btn .bottom {
    @apply absolute h-1 w-5 bg-white
  }

  /* header */
  header {
    @apply overflow-hidden;
  }
  header img {
    @apply fixed h-full md:h-screen w-full md:w-auto object-cover -z-10 opacity-50 md:opacity-100;
  }

  /* home */
  main {
    @apply relative w-full flex flex-col justify-center md:translate-x-[10%] lg:translate-x-[20%] translate-y-[50%];
  }
  main .welcome-text {
    @apply w-full sm:w-[80%] md:w-[70%] lg:mt-10 p-10 text-xl flex flex-col gap-3; 
  }
  main .white-rect {
    @apply  absolute translate-y-[50%] left-[200px] h-[500px] w-[500px] bg-white/20
  }
  
  /* copyright */
  .copyright {
    @apply text-xs absolute translate-x-5 top-25 max-h-dvw rotate-90 origin-top-left;
  }

  /* footer */
  
  footer .slogan {
    @apply hidden sm:block absolute bottom-7 sm:bottom-10 right-0 sm:right-10 md:right-15 text-xl sm:text-2xl md:text-3xl uppercase;
  }
  footer .white-rect {
    @apply hidden sm:block absolute bottom-0 right-0 h-1/8 sm:h-1/7 md:h-1/6 w-3/5 bg-white/20
  }
}