@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import "tailwindcss";

@theme {
  --font-main: "Cutive Mono", monospace;
  --color-dark: #282828;
  --height-clamp: clamp(300px, 100vh, 100vh);
  --width-clamp: clamp(200px, 100vw, 1000px);
}

@layer base {  
  html {
    @apply bg-dark font-main text-white flex justify-center;
  }
  body {
    @apply flex w-[var(--width-clamp)] h-[var(--height-clamp)] overflow-x-hidden relative justify-center;
  }
}

@layer components {

  /* navbar */
  nav {
    @apply fixed w-full flex z-99 top-0 right-0 justify-center;
  }
  nav .logo-nav {
    @apply flex w-full max-w-[1000px] justify-between items-center p-3;
  }
  nav .logo {
    @apply w-15
  }
  .social-links {
    @apply flex gap-3 items-center;
  }
  .social-links img {
    @apply h-7
  }
  nav ul {
    @apply hidden sm:flex sm:divide-x-2;
  }
  nav li {
    @apply text-white text-2xl sm:px-5 uppercase;
  }

  /* mobile menu */
  .mobile-menu {
    @apply relative block sm:hidden
  }
  .mobile-menu .items {
    @apply absolute top-0 right-0 bg-black min-h-64 w-[180px] rounded-md p-9 flex flex-col origin-top-right;
  }
  .mobile-menu .items ul {
    @apply flex flex-col gap-2 flex-1 pt-4;
  }
  /* hamburger button */
  .hamburger-btn {
    @apply relative h-11 w-11 mt-3 mr-3
  }
  .hamburger-btn .top,
  .hamburger-btn .middle {
    @apply absolute h-1 w-7 bg-white
  }
  .hamburger-btn .bottom {
    @apply absolute h-1 w-5 bg-white
  }

  /* header */
  header {
    @apply w-screen max-w-[1000px] overflow-hidden bg-amber-800;
  }
  header img {
    @apply fixed h-full md:h-screen w-full md:w-auto object-cover -z-10 opacity-50 md:opacity-100;
  }

  /* home */
  main {
    @apply w-full h-full;
  }
  main .white-rect {
    @apply hidden md:block absolute translate-y-[50%] right-20 h-[400px] w-[600px] bg-white/20
  }
  
  /* about  */
  .about {
    @apply py-30 px-15
  }
  .about h2 {
    @apply text-2xl font-bold uppercase pb-10;
  }
  .about .about-intro {
    @apply hidden md:block pb-10;
  }

  /* all stylists */
  .stylists {
    @apply w-[var] flex flex-col md:grid grid-cols-[repeat(auto-fill,minmax(300px,1fr))] gap-5;
  }
  .stylist {
    @apply sm:bg-white/80 sm:text-black flex flex-col pt-3 pb-10 sm:px-3 md:px-5 border-b border-white md:border-none;
  }
  .stylist:last-child {
    @apply border-none;
  }
  .stylist img {
    @apply pb-5 
  }
  .stylist h3 {
    @apply text-lg sm:text-xl md:text-2xl uppercase font-bold self-center;
  }
  .stylist .name-title {
    @apply flex flex-col sm:flex-row justify-center items-center gap-2 pb-5;
  }
  .stylist .name-title p {
    @apply leading-10 text-[12px] sm:text-[15px] capitalize;
  }
  .stylist .desc {
    @apply text-[14px] sm:text-[17px]
  }

  /* services */
  .services {
    @apply w-full max-w-[1000px] flex justify-center;
  }
  .services .container {
    @apply flex flex-col lg:grid grid-cols-[repeat(auto-fill,minmax(300px,1fr))] py-30 px-15 gap-5 justify-center;
  }
  .service {
    @apply bg-white/80 text-black p-3 flex gap-5 flex-col;
  }
  .service h3 {
    @apply text-xl font-bold uppercase;
  }
  .service .type {
    @apply flex flex-col gap-5 text-[13px] sm:text-[14px] md:text-[15px];
  }
  .service .price {
    @apply flex flex-col sm:flex-row justify-between border-b border-dotted border-dark;
  }
  .service .price:last-child {
    @apply border-none;
  }
  .service .price .style {
    @apply flex capitalize;
  }
  .service .range {
    @apply flex justify-end;
  }

  /* location */
  .location {
    @apply w-full max-w-[1000px] flex flex-col gap-10 justify-center py-30 px-15;
  }
  .location h1 {
    @apply text-2xl uppercase font-bold;
  }
  .location h3 {
    @apply text-lg font-bold;
  }
  .location .hours .dates {
    @apply font-bold capitalize;
  }
  .location .map {
    @apply self-center;
  }

  /* leaflet */
  /* map container - leaflet */
  .leaflet-container {
    @apply w-full aspect-video sm:w-[400px]
  }

  /* footer */  
  footer .slogan {
    @apply absolute bottom-7 sm:bottom-10 sm:right-10 md:right-15 text-[15px] sm:text-2xl md:text-3xl uppercase;
  }
  footer .white-rect {
    @apply absolute bottom-0 right-0 h-1/8 sm:h-1/7 md:h-1/6 w-4/5 md:w-3/5 bg-white/20
  }

  /* copyright */
  .copyright {
    @apply text-xs max-w-[500px] fixed left-0 top-[20vh] rotate-90 origin-bottom-left opacity-50;
  }

}

